<section class="page-title">
    <h1>Streams</h1>
</section>

<div class="streams-grid">
    @for (stream of streams; track stream.id) {
        <article class="stream-card">
            <h3>{{ stream.label }}</h3>
            <div class="camera-wrapper">
                @if (!streamErrors[stream.id]) {
                    <img
                        [src]="stream.url"
                        [alt]="stream.label"
                        class="camera-stream"
                        (error)="setStreamError(stream.id)"
                    />

                } @else {
                    <div class="no-signal">
                        No Signal
                    </div>
                }
            </div>
        </article>
    }
</div>
